
#               **PROJECT** 
                                             MOVIE RECOMMENDATION

Team members

 Harsh kumar jha ,  Rishika sharma ,  Anshika sahai ,Trisha dutta,Harsh sharma ,Shubham Divyanshu.

In [ ]:
# importing the dependencies
# to support array
import numpy as np
# covert array data into structure table or dataframe
import pandas as pd
#  find closest match to user input 
import difflib
#convert text file into numerical values / vectors
from sklearn.feature_extraction.text import TfidfVectorizer
# find similar data to the user
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
# loading the data from the csv file to apandas dataframe
movies_data = pd.read_csv('/content/movies.csv')

In [ ]:
#sample data 
movies_data.head(1)

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron

In [ ]:
# selecting the relevant features for recommendation
selected_features = ['genres','keywords','tagline','cast','director']

In [ ]:
# replacing the null valuess with null string

for feature in selected_features:
  movies_data[feature] = movies_data[feature].fillna('')

In [ ]:
# combining all the 5 selected features
combined_features = movies_data['genres']+' '+movies_data['keywords']+' '+movies_data['tagline']+' '+movies_data['cast']+' '+movies_data['director']

In [ ]:
# converting the text data to feature vectors
vectorizer = TfidfVectorizer()

In [ ]:
feature_vectors = vectorizer.fit_transform(combined_features)

In [ ]:
# getting the similarity scores using cosine similarity
similarity = cosine_similarity(feature_vectors)

#Movie Recommendation Sytem

In [ ]:
print("""click 
          0 for Movie
          1 for exit """)
a= int(input("Choose what u want : "))
if a==0:
  c=0
  while c==0:
   # getting the movie name from the user
   movie_name = input(' Enter your favourite movie name : ')

    # creating a list with all the movie names given in the dataset
   list_of_all_titles = movies_data['title'].tolist()

   # finding the close match for the movie name given by the user
   find_close_match = difflib.get_close_matches(movie_name, list_of_all_titles)
   close_match = find_close_match[0]

   # finding the index of the movie with title
   index_of_the_movie = movies_data[movies_data.title == close_match]['index'].values[0]

   # getting a list of similar movies
   similarity_score = list(enumerate(similarity[index_of_the_movie]))


    # sorting the movies based on their similarity score
   sorted_similar_movies = sorted(similarity_score, key = lambda x:x[1], reverse = True) 


   # print the name of similar movies based on the index
   print('Movies suggested for you : \n')

   i = 1

   for movie in sorted_similar_movies:
     index = movie[0]
     title_from_index = movies_data[movies_data.index==index]['title'].values[0]
     if (i<30):
       print(i, '.',title_from_index)
       i+=1
   print("""             click 
           0 for Search more movie
           1 for exit """)
   b= int(input("Choose what u want : "))
   c=b
   if(b==1) :
    print(" visit again Thankyou ! ")
   elif(b==0):
     print("")
   else:
     print("WRONG OPTION OPTED")
 
   # main loop elif
elif(a==1) :
  print(" visit again Thankyou ! ")
else:
  print(" WRONG OPTION OPTED")

click
          0 for Movie
          1 for exit
Choose what u want : 0
 Enter your favourite movie name : hee
Movies suggested for you :

1 . Three
2 . Cloud Atlas
3 . Resident Evil: Apocalypse
4 . Perfume: The Story of a Murderer
5 . The International
6 . The Helix... Loaded
7 . Alex & Emma
8 . Anomalisa
9 . Bridge of Spies
10 . Velvet Goldmine
11 . Just Looking
12 . The Christmas Bunny
13 . The Bad News Bears
14 . Captain America: The Winter Soldier
15 . Run Lola Run
16 . The Apparition
17 . 50 First Dates
18 . Tomorrowland
19 . Captain America: Civil War
20 . Plastic
21 . All Superheroes Must Die
22 . Rachel Getting Married
23 . Captain America: The First Avenger
24 . After Earth
25 . Æon Flux
26 . The Howling
27 . My Blueberry Nights
28 . Animal House
29 . The BFG
             click
           0 for Search more movie
           1 for exit
Choose what u want : 1
 visit again Thankyou !